$primary-bg: #111;
$secondary-bg: #333333;
$tertiary-bg: #888 ;
$quaternary-bg: #ddd;

$primary-text: #000;
$seconday-text: #333;
$tertiary-text: #888 ;
$quaternary-text: #ddd;

$light-text: #fff;

